<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<div>
		<form action="/login" method="post">
			<input type="text" name="uname" id="uname">
			<input type="password" name="passwd" id="passwd">
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>
